
html, body {
  height: 100%;
}

.container {
  background-color: #dad4db;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
}

.navbar {
  margin-top: 4%;
  border: 0;
  border-radius: 0;
}

#menu-btn {
  background-color: #e6e0e7;
  border: 2px solid #858386;
  margin: 4%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #323531;
  text-decoration: none;
}

ul {
  padding: 1.0em;
  font-size: 1.4em;
}

li:hover {
  background-color: #e6e0e7;
}

#welcome {
  height: 100%;
}

#hi {
  margin: 2.5em 0 0 10%; 
  font-family: 'Muli';
  color: #0A7258;
}

h3 {
  margin: 2.0em 0 0 15%;
  font-family: 'Muli'; 
  font-weight: bold;
  color: #581C5E;
}

.blinking-cursor {
  font-size: 1.3em;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #581C5E;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #581C5E;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #581C5E;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #581C5E;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #581C5E;
  }
}
